<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ms.module.wechat.clear">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--    android 11-->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <!-- 8.0 读取应用使用,使用记录访问权限 -->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>

        <activity
            android:name=".activity.scan.WeChatClearScanIngActivity"

            android:launchMode="singleTask" />

        <activity
            android:name=".activity.clear.WeChatClearActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.image.ImageActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.video.VideoDetailsActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.emoji.EmojiDetailsActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.file.FileDetailsActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.image.ImageDetailsActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.voice.VoiceDetailsActivity"
            android:launchMode="singleTask" />
        <provider
          android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>